<th:block th:fragment="head (title)">
	<style>
	/* BANNER */
	#banner {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #eeeeee;
		pointer-events: none;
	}

	#banner.done {
		animation: banner-done-keys 0.166s 1 ease-in-out;
	}

	@keyframes banner-done-keys {
		0% { opacity: 1; }
		100% { opacity: 0; }
	}

	#banner p {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -100%);

		color: #ccc;
		font-size: 26px;
		font-weight: bold;
		text-align: center;

		margin: 0;
	}

	#banner-header {
		display: block;
		position: relative;
		box-sizing: border-box;
		width: 100%;
		height: 54px;
		background: #303045 0% 0% no-repeat padding-box;
		padding: 0;
	}
	</style>
</th:block>

<th:block th:fragment="body (title)">
	<div id="banner">
		<p th:text="${title}"></p>
	</div>
	<script th:inline="javascript">
	(function(){
		const startTime = Date.now();
		var checker = function() {
			if( document.body.querySelector( "canvas" ) != null ) {
				console && console.log( "Content load finished at", Date.now() - startTime, "ms" );
				var banner = document.querySelector( "#banner" );
				if( banner.style.animationName !== undefined ) {
					banner.setAttribute( "class", "done" );
					banner.addEventListener( "animationend", function( e ) {
						if( banner === e.target && banner.parentElement != null ) {
							banner.parentElement.removeChild( banner );
						}
					});
				} else {
					banner.parentElement.removeChild( banner );
				}
			} else {
				setTimeout( checker, 16 );
			}
		};
		checker();
	}());
	</script>
</th:block>
