<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${title}"></title>
<link href="/image/favicon.ico" type="image/vnd.microsoft.icon" rel="shortcut icon">

<link th:src="@{/webjars/wcardinal/wcardinal.worker.min.js}">
<link th:src="@{/webjars/pixi.js/pixi.min.js}">
<link th:src="@{/webjars/wcardinal-ui/wcardinal-ui.min.js}">
<link th:src="@{|/webjars/wcardinal-ui/wcardinal-ui-theme-white-${#strings.toLowerCase(#locale.language)}-${#strings.toLowerCase(#locale.country)}.min.js|}">
<link th:src="@{|/asset/message-script/${product.version}/message-script-${#strings.toLowerCase(#locale.language)}-${#strings.toLowerCase(#locale.country)}.min.js|}">

<style>
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #eeeeee;

	font: 400 18px "Helvetica Neue","Helvetica","Hiragino Sans","Hiragino Kaku Gothic ProN","BIZ UDPGothic","Arial","Yu Gothic UI","Meiryo UI",sans-serif;
	line-height: 30px;
	color: #444;

	overflow: hidden;

	print-color-adjust: exact;
	-webkit-print-color-adjust: exact;
}

canvas {
	outline: none;
}
</style>
