<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="title=''">
<head>
	<th:block th:insert="common/header"></th:block>
	<style>
		wcs-empty {
			display: block;
			position: absolute;
			top: -20%;
			left: -10%;
			width: 170%;
			height: 170%;
			color: #e9e9e9;
			border: none;
			padding: 0;
			margin: 0;
		}

		wcs-empty > svg {
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			padding: 0;
			margin: 0;
			transform: translate(-50%, -50%);
		}
	</style>
</head>
<body>
	<wcs-empty th:insert="image/earth"></wcs-empty>
	<script th:src="@{/webjars/wcardinal/wcardinal.worker.min.js}"></script>
	<script th:src="@{/webjars/pixi.js/pixi.min.js}"></script>
	<script th:src="@{/webjars/wcardinal-ui/wcardinal-ui.min.js}"></script>
	<script th:src="@{|/webjars/wcardinal-ui/wcardinal-ui-theme-white-${#strings.toLowerCase(#locale.language)}-${#strings.toLowerCase(#locale.country)}.min.js|}"></script>
	<script th:src="@{|/asset/message-script/${product.version}/message-script-${#strings.toLowerCase(#locale.language)}-${#strings.toLowerCase(#locale.country)}.min.js|}"></script>
	<script th:src="@{/webjars/wcardinal-starter/wcs-empty.min.js}"></script>
	<script th:inline="javascript">
	(function(){
		"use strict";
		new wcs.Main({});
	}());
	</script>
</body>
</html>
