<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="title=''">
<head>
	<th:block th:insert="common/header"></th:block>
	<style>
		wcs-empty {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
		}

		wcs-empty-label {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -100%);

			color: #ccc;
			font-size: 26px;
			font-weight: bold;
			text-align: center;
		}
	</style>
</head>
<body>
	<wcs-empty>
		<wcs-empty-label th:text="#{empty.label}">Nothing to See Here</wcs-empty-label>
	</wcs-empty>
	<script th:src="@{/webjars/wcardinal/wcardinal.worker.min.js}"></script>
	<script th:src="@{/webjars/pixi.js/pixi.min.js}"></script>
	<script th:src="@{/webjars/wcardinal-ui/wcardinal-ui.min.js}"></script>
	<script th:src="@{|/webjars/wcardinal-ui/wcardinal-ui-theme-white-${#strings.toLowerCase(#locale.language)}-${#strings.toLowerCase(#locale.country)}.min.js|}"></script>
	<script th:src="@{|/asset/message-script/${product.version}/message-script-${#strings.toLowerCase(#locale.language)}-${#strings.toLowerCase(#locale.country)}.min.js|}"></script>
	<script th:src="@{/webjars/wcardinal-starter/wcs-empty.min.js}"></script>
	<script th:inline="javascript">
	(function(){
		"use strict";
		new wcs.Main({});
	}());
	</script>
</body>
</html>
